<!DOCTYPE html>
<html ng-app="projectRtc">
  <head>
    <title><%= title %></title>
    <base href="/" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="javascripts/adapter.js"></script>
	<script type="text/javascript" src="javascripts/rtcClient.js"></script>
	
	<script type="text/javascript" src="javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/app.js"></script>
	<script>
		var inMove = false;
	
		$(document).ready(function(){
			document.addEventListener('keydown', handleKeyDown);
			document.addEventListener('keyup', handleKeyUp);
		}); 
		
		function handleKeyDown(e) {
		  switch(e.code) {
			case "KeyW":
				console.log('forward');
				robotCommand('w');
				inMove = true;
			break;
			case "KeyX":
				console.log('backward');
				robotCommand('x');
				inMove = true;
			break;
			case "KeyA":
				console.log('turn left');
				robotCommand('a');
				inMove = true;
			break;
			case "KeyQ":
				console.log('turn rotary left forward');
				robotCommand('q');
				inMove = true;
			break;
			case "KeyZ":
				console.log('turn rotary left backward');
				robotCommand('z');
				inMove = true;
			break;
			case "KeyD":
				console.log('turn right');
				robotCommand('d');
				inMove = true;
			break;
			case "KeyE":
				console.log('turn rotary right forward');
				robotCommand('e');
				inMove = true;
			break;
			case "KeyC":
				console.log('turn rotary right backward');
				robotCommand('c');
				inMove = true;
			break;
			case "Digit1":
				console.log('speed 1');
				robotCommand('1');
			break;
			case "Digit2":
				console.log('speed 2');
				robotCommand('2');
			break;
			case "Digit3":
				console.log('speed 3');
				robotCommand('3');d
			break;
			case "Digit4":
				console.log('speed 4');
				robotCommand('4');
			break;
			case "Digit5":
				console.log('speed 5');
				robotCommand('5');
			break;
			case "NumpadAdd":
				$("#showCall").trigger("click");
			break;
			case "NumpadSubtract":
				$("#hideCall").trigger("click");
			break;
		  }
	   }
	   
	   function handleKeyUp(e) {
			if (inMove) {
				robotCommand('s');
				inMove = false;
			}
	   }
	   
	   function robotCommand(c) {
			var createPollRequest = new XMLHttpRequest();
			createPollRequest.open('GET', 'http://192.168.1.33:8080/' + c, true);
			createPollRequest.send();
			createPollRequest.onload = function () {
				if (createPollRequest.status >= 200 && createPollRequest.status < 400) {
					console.log('command ' + c + ' sent to robot');
				} else {
					console.log('cannot send command to robot')
				}
			};
	  }
	   
	</script>
  </head>
  <body>
  	<h1><%= header %></h1>

  	<%= include local-cam %>

  	<%= include remote-streams %>

  </body>
</html>